{% extends 'mama_fua/base.html'%}

{% block title %}Cart{% endblock %}

{% block content %}

<section class="py-20 bg-light overflow-hidden">
  <div class="container">
    <div class="p-8 p-lg-20 bg-white">
      <h2 class="mb-8">Laundry Basket</h2>
      <p class="mb-10 mb-md-16 text-secondary">Below are your Laundry Basket Contents</p>
      <div class="row mb-8 align-items-center justify-content-between">
        <div class="col-12 col-lg-auto mb-8 mb-lg-0 d-flex flex-wrap align-items-center">
          <div class="d-flex align-items-center justify-content-center mb-4 mb-lg-0 bg-light" style="height: 128px;">
            <img class="img-fluid h-100" style="object-fit: contain;" src="https://i.ibb.co/qpgTwSf/blanket.png" alt="blanket">
          </div>
          <div class="col-12 col-md-auto ps-md-8">
            <h3 class="mb-2 lead fw-bold">Blanket Cleaning</h3>
            <p class="mb-8 text-secondary">Wash & Fold</p>
          </div>
        </div>
        <div class="d-flex col-12 col-lg-auto justify-content-between align-items-center flex-lg-column">
          <p class="mb-lg-12 text-end h6 text-info">ksh. 300</p>
          <div class="d-inline-flex align-items-center px-4 fw-bold text-secondary border rounded-2">
            <button class="btn px-0 py-2">
              <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="12" width="2" height="12" transform="rotate(90 12 0)" fill="currentColor"></rect></g></svg>
            </button>
            <input class="form-control px-2 py-4 text-center text-md-end border-0" style="width: 48px;" type="number" placeholder="1">
            <button class="btn px-0 py-2">
              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="5" width="2" height="12" fill="currentColor"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="currentColor"></rect></g></svg>
            </button>
          </div>
        </div>
      </div>
      <div class="row mb-12 align-items-center justify-content-between">
        <div class="col-12 col-lg-auto mb-8 mb-lg-0 d-flex flex-wrap align-items-center">
          <div class="d-flex align-items-center justify-content-center mb-4 mb-lg-0 bg-light" style="height: 128px;">
            <img class="img-fluid h-100" style="object-fit: contain;" src="https://i.ibb.co/dBLWkm1/suit.png" alt="suit">
          </div>
          <div class="col-12 col-md-auto ps-md-8">
            <h3 class="mb-2 lead fw-bold">Suit Cleaning</h3>
            <p class="mb-8 text-secondary">Wash & Iron</p>
          </div>
        </div>
        <div class="d-flex col-12 col-lg-auto justify-content-between align-items-center flex-lg-column">
          <p class="mb-lg-12 text-end h6 text-info">ksh. 500</p>
          <div class="d-inline-flex align-items-center px-4 fw-bold text-secondary border rounded-2">
            <button class="btn px-0 py-2">
              <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="12" width="2" height="12" transform="rotate(90 12 0)" fill="currentColor"></rect></g></svg>
            </button>
            <input class="form-control px-2 py-4 text-center text-md-end border-0" style="width: 48px;" type="number" placeholder="1">
            <button class="btn px-0 py-2">
              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="5" width="2" height="12" fill="currentColor"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="currentColor"></rect></g></svg>
            </button>
          </div>
        </div>
      </div>
      <div class="row mb-12 align-items-center justify-content-between">
        <div class="col-12 col-lg-auto mb-8 mb-lg-0 d-flex flex-wrap align-items-center">
          <div class="d-flex align-items-center justify-content-center mb-4 mb-lg-0 bg-light" style="height: 128px;">
            <img class="img-fluid h-100" style="object-fit: contain;" src="https://i.ibb.co/kSr0JYx/jacket.png" alt="jacket">
          </div>
          <div class="col-12 col-md-auto ps-md-8">
            <h3 class="mb-2 lead fw-bold">Jacket Cleaning</h3>
            <p class="mb-8 text-secondary">Wash & Fold</p>
          </div>
        </div>
        <div class="d-flex col-12 col-lg-auto justify-content-between align-items-center flex-lg-column">
          <p class="mb-lg-12 text-end h6 text-info">ksh. 50</p>
          <div class="d-inline-flex align-items-center px-4 fw-bold text-secondary border rounded-2">
            <button class="btn px-0 py-2">
              <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="12" width="2" height="12" transform="rotate(90 12 0)" fill="currentColor"></rect></g></svg>
            </button>
            <input class="form-control px-2 py-4 text-center text-md-end border-0" style="width: 48px;" type="number" placeholder="1">
            <button class="btn px-0 py-2">
              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="5" width="2" height="12" fill="currentColor"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="currentColor"></rect></g></svg>
            </button>
          </div>
        </div>
      </div>
      <div class="row mb-12 align-items-center justify-content-between">
        <div class="col-12 col-lg-auto mb-8 mb-lg-0 d-flex flex-wrap align-items-center">
          <div class="d-flex align-items-center justify-content-center mb-4 mb-lg-0 bg-light" style="height: 128px;">
            <img class="img-fluid h-100" style="object-fit: contain;" src="https://i.ibb.co/g74FB2K/Polo.png" alt="Polo">
          </div>
          <div class="col-12 col-md-auto ps-md-8">
            <h3 class="mb-2 lead fw-bold">Polo Cleaning</h3>
            <p class="mb-8 text-secondary">Iron & Fold</p>
          </div>
        </div>
        <div class="d-flex col-12 col-lg-auto justify-content-between align-items-center flex-lg-column">
          <p class="mb-lg-12 text-end h6 text-info">ksh. 50</p>
          <div class="d-inline-flex align-items-center px-4 fw-bold text-secondary border rounded-2">
            <button class="btn px-0 py-2">
              <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="12" width="2" height="12" transform="rotate(90 12 0)" fill="currentColor"></rect></g></svg>
            </button>
            <input class="form-control px-2 py-4 text-center text-md-end border-0" style="width: 48px;" type="number" placeholder="1">
            <button class="btn px-0 py-2">
              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="5" width="2" height="12" fill="currentColor"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="currentColor"></rect></g></svg>
            </button>
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap mb-10 align-items-center justify-content-between py-6 px-4 px-md-12 bg-info">
        <div class="mb-4 mb-md-0">
          <h5 class="text-white">Subtotal</h5>
          <p class="text-light">Shipping and taxes will be calculated at checkout.</p>
        </div>
        <span class="lead fw-bold text-white">ksh. 900</span>
      </div>
      <div class="text-end"><a class="btn col-12 col-md-auto btn-light mb-4 mb-md-0 me-md-6 text-uppercase" href="{% url 'mama_fua:home' %}">Cancel</a><a class="btn col-12 col-md-auto btn-primary" href="{% url 'mama_fua:checkout' %}">Go to Checkout</a></div>
    </div>
  </div>
</section>


{% endblock content %}
