{% extends 'mama_fua/base.html'%}

{% block title %}Details{% endblock %}

{% block content %}


<section class="py-20 overflow-hidden">
  <div class="container">
    <div class="row mb-24">
      <div class="col-12 col-md-6 mb-8 mb-md-0">
        <div class="position-relative mb-10" style="height: 564px;">
          <img class="img-fluid w-100 h-100" style="object-fit: cover;" src="https://i.ibb.co/qpgTwSf/blanket.png" alt="blanket">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="ps-lg-20">
          <div class="mb-10 pb-10 border-bottom">
            <span class="text-secondary">Blankets</span>
            <h1 class="mt-2 mb-6 mw-xl">Blanket Cleaning</h1>
            <p class="d-inline-block mb-8 h5 text-info">
              <span>ksh. 300</span>
            </p>
            <p class="mw-md text-secondary">Introducing our premium blanket cleaning service! Our expert team of laundry professionals will take care of your blankets with the utmost care and attention to detail.</p>
          </div>
          <div class="d-flex mb-12">
            <div class="me-6">
              <span class="d-block mb-4 fw-bold text-secondary tetx-uppercase">QTY</span>
              <div class="d-inline-flex align-items-center px-4 fw-bold text-secondary border rounded-2">
                <button class="btn px-0 py-2">
                  <svg width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="12" width="2" height="12" transform="rotate(90 12 0)" fill="currentColor"></rect></g></svg>
                </button>
                <input class="form-control m-0 px-2 py-4 text-center text-md-end border-0" style="width: 48px;" type="number" placeholder="1">
                <button class="btn px-0 py-2">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="5" width="2" height="12" fill="currentColor"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="currentColor"></rect></g></svg>
                </button>
              </div>
            </div>
            <div>
              <span class="d-block mb-4 fw-bold text-secondary text-uppercase">Service</span>
              <select class="form-select border ps-6 pe-10 py-4 fw-bold text-secondary" name="" id="">
                <option value="1">Wash & Iron</option>
                <option value="2">Iron & Fold</option>
                <option value="3">Wash & Dry</option>
              </select>
            </div>
          </div>
          <div class="row mb-14">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0"><a class="btn w-100 btn-primary" href="{% url 'mama_fua:cart' %}">Add to Laundry Basket</a></div>

          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row mb-16 border-bottom border-2">
        <div class="col-6 col-md-auto"><a class="btn bg-white text-secondary rounded-0 shadow" href="#">Description</a></div>
      </div>
      <h3 class="mb-8 text-info" >Blanket Cleaning Services</h3>
      <p class="mw-2xl text-secondary">Our Blanket Services Include</p>
      <ul class="text-info">
        <li>Thorough cleaning using high-quality detergent to remove all dirt and stains</li>
        <li>Gentle treatment to prevent damage to delicate fabrics</li>
        <li>Special attention to problem areas, such as pet hair and odors</li>
        <li>Softening treatment to restore the plush feel of your blankets</li>
        <li>Optional eco-friendly cleaning methods for those who are environmentally conscious</li>
      </ul>
      <p class="mw-2xl text-secondary">We accept all types of blankets, including wool, cotton, and synthetic fabrics. We recommend washing your blankets every few months to keep them fresh and cozy.</p>
      <p class="mw-2xl text-secondary">Trust us to provide the best care for your blankets, so you can enjoy a good night's sleep!</p>
    </div>
  </div>
</section>


{% endblock content %}
