{% extends "mama_fua/base.html" %}
{% block title %}Confirm{% endblock %}

{% block content %}


<section class="py-20 bg-light">
  <div class="container">
    <div class="px-4 py-16 py-md-28 px-lg-20 bg-white">
      <h2 class="mb-8">Thank You for Requesting Our Services</h2>
      <p class="mb-16 text-secondary">Service Request Processed Successfully</p>
      <div class="d-flex flex-wrap mb-8 pb-4 border-bottom">
        <div class="me-20">
          <p class="mb-0 text-secondary">Service Number</p>
          <p class="text-info fw-bold">XYZ0864395</p>
        </div>
        <div class="me-auto">
          <p class="mb-0 text-secondary">Date</p>
          <p class="text-info fw-bold">Tuesday 04, 2023</p>
        </div>
      </div>
      <div class="row mb-8">
        <div class="col-12 col-lg-2 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/qpgTwSf/blanket.png" alt="blanket">
          </div>
        </div>
        <div class="col-12 col-lg-10">
          <div class="d-flex mb-8 mb-md-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Blanket Cleaning</h3>
              <p class="text-secondary">Wash & Fold</p>
            </div>
            <span class="h5 text-info">ksh. 300</span>
          </div>
          <div class="row">
            <div class="col-12 col-lg-auto me-md-10 mb-6 mb-lg-0">
              <p class="mb-6 fw-bold">Delivery Address</p>
              <p class="mb-0 text-secondary">Moses Musemi</p>
              <p class="mb-0 text-secondary">Heri Homes</p>
              <p class="mb-0 text-secondary">House No. B6</p>
            </div>
            <div class="col-12 col-lg-auto me-md-10 mb-6 mb-lg-0">
              <p class="mb-6 fw-bold">Shipping Informations</p>
              <p class="mb-0 text-secondary">moses@musemi.com</p>
              <p class="mb-0 text-secondary">0712345678</p>
            </div>
            <div class="col-12 col-lg-auto">
              <p class="mb-6 fw-bold">Payment Informations</p>
              <p class="mb-0 text-secondary">Mpesa</p>
              <p class="mb-0 text-secondary">Moses Musemi</p>
              <p class="mb-0 text-secondary">07012345678</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-8">
        <div class="col-12 col-lg-2 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center h-72 bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/dBLWkm1/suit.png" alt="suit">
          </div>
        </div>
        <div class="col-12 col-lg-10">
          <div class="d-flex mb-8 mb-md-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Suit Cleaning</h3>
              <p class="text-secondary">Wash & Iron</p>
            </div>
            <span class="h5 text-info">ksh. 500</span>
          </div>
          <div class="row">
            <div class="col-12 col-lg-auto me-md-10 mb-6 mb-lg-0">
              <p class="mb-6 fw-bold">Delivery Address</p>
              <p class="mb-0 text-secondary">Moses Musemi</p>
              <p class="mb-0 text-secondary">Heri Homes</p>
              <p class="mb-0 text-secondary">House No. B6</p>
            </div>
            <div class="col-12 col-lg-auto me-md-10 mb-6 mb-lg-0">
              <p class="mb-6 fw-bold">Shipping Informations</p>
              <p class="mb-0 text-secondary">moses@musemi.com</p>
              <p class="mb-0 text-secondary">0712345678</p>
            </div>
            <div class="col-12 col-lg-auto">
              <p class="mb-6 fw-bold">Payment Informations</p>
              <p class="mb-0 text-secondary">Mpesa</p>
              <p class="mb-0 text-secondary">Moses Musemi</p>
              <p class="mb-0 text-secondary">07012345678</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-8">
        <div class="col-12 col-lg-2 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center h-72 bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/kSr0JYx/jacket.png" alt="jacket">
          </div>
        </div>
        <div class="col-12 col-lg-10">
          <div class="d-flex mb-8 mb-md-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Jacket Cleaning</h3>
              <p class="text-secondary">Wash & Fold</p>
            </div>
            <span class="h5 text-info">ksh. 50</span>
          </div>
          <div class="row">
            <div class="col-12 col-lg-auto me-md-10 mb-6 mb-lg-0">
              <p class="mb-6 fw-bold">Delivery Address</p>
              <p class="mb-0 text-secondary">Moses Musemi</p>
              <p class="mb-0 text-secondary">Heri Homes</p>
              <p class="mb-0 text-secondary">House No. B6</p>
            </div>
            <div class="col-12 col-lg-auto me-md-10 mb-6 mb-lg-0">
              <p class="mb-6 fw-bold">Shipping Informations</p>
              <p class="mb-0 text-secondary">moses@musemi.com</p>
              <p class="mb-0 text-secondary">0712345678</p>
            </div>
            <div class="col-12 col-lg-auto">
              <p class="mb-6 fw-bold">Payment Informations</p>
              <p class="mb-0 text-secondary">Mpesa</p>
              <p class="mb-0 text-secondary">Moses Musemi</p>
              <p class="mb-0 text-secondary">07012345678</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-8">
        <div class="col-12 col-lg-2 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center h-72 bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/g74FB2K/Polo.png" alt="Polo">
          </div>
        </div>
        <div class="col-12 col-lg-10">
          <div class="d-flex mb-8 mb-md-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Polo Cleaning</h3>
              <p class="text-secondary">Wash & Fold</p>
            </div>
            <span class="h5 text-info">ksh. 50</span>
          </div>
          <div class="row">
            <div class="col-12 col-lg-auto me-md-10 mb-6 mb-lg-0">
              <p class="mb-6 fw-bold">Delivery Address</p>
              <p class="mb-0 text-secondary">Moses Musemi</p>
              <p class="mb-0 text-secondary">Heri Homes</p>
              <p class="mb-0 text-secondary">House No. B6</p>
            </div>
            <div class="col-12 col-lg-auto me-md-10 mb-6 mb-lg-0">
              <p class="mb-6 fw-bold">Shipping Informations</p>
              <p class="mb-0 text-secondary">moses@musemi.com</p>
              <p class="mb-0 text-secondary">0712345678</p>
            </div>
            <div class="col-12 col-lg-auto">
              <p class="mb-6 fw-bold">Payment Informations</p>
              <p class="mb-0 text-secondary">Mpesa</p>
              <p class="mb-0 text-secondary">Moses Musemi</p>
              <p class="mb-0 text-secondary">07012345678</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="py-3 px-10 bg-light rounded-pill">
          <div class="d-flex justify-content-between">
            <span class="fw-bold">Subtotal</span>
            <span class="fw-bold">ksh. 900</span>
          </div>
        </div>
        <div class="py-3 px-10 rounded-pill">
          <div class="d-flex justify-content-between">
            <span class="fw-bold">Shipping</span>
            <span class="fw-bold">ksh. 20</span>
          </div>
        </div>
        <div class="py-3 px-10 rounded-pill">
          <div class="d-flex justify-content-between">
            <span class="lead fw-bold">Services Total</span>
            <span class="fw-bold">ksh. 920</span>
          </div>
        </div>
      </div>
      <div class="text-end"><a class="btn btn-primary col-12 col-md-auto text-uppercase" href="{% url 'mama_fua:home' %}">Go To Home Page</a></div>
    </div>
  </div>
</section>


{% endblock content %}