{% extends "mama_fua/base.html" %}
{% block title %}History{% endblock %}

{% block content %}

<section class="py-20 bg-light overflow-hidden">
  <div class="container">
    <h2 class="mb-8" style="font-size: 35px;">Laundry Services History</h2>
    <p class="mb-14 lead text-secondary">Your recent services are listed below</p>
    <div class="mb-12 py-8 px-8 px-md-20 bg-white">
      <div class="d-flex flex-wrap mb-8 pb-4 border-bottom">
        <div class="me-20">
          <p class="mb-0 text-secondary">Service Number</p>
          <p class="text-info fw-bold">XYZ0864395</p>
        </div>
        <div class="me-auto">
          <p class="mb-0 text-secondary">Date</p>
          <p class="text-info fw-bold">Tuesday 04, 2023</p>
        </div>
      </div>
      <div class="row align-items-center mb-8">
        <div class="col-12 col-lg-3 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/qpgTwSf/blanket.png" alt="blanket">
          </div>
        </div>
        <div class="col-12 col-lg-9">
          <div class="d-flex mb-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Blanket Cleaning</h3>
              <p class="mb-0 text-secondary">Wash & Fold</p>
            </div>
            <span class="h5 text-info">ksh. 300</span>
          </div>
          <div class="row">
            <div class="col-12 col-sm-auto mb-6 mb-sm-0 me-sm-10">
              <p class="mb-6 fw-bold">Service Requested on</p>
              <p class="mb-0 text-secondary">04/04/2023</p>
            </div>
            <div class="col-12 col-sm-auto">
              <p class="mb-6 fw-bold">Delivered</p>
              <p class="mb-0 text-secondary">Not Yet</p>
            </div>
            <div class="col-12 col-lg-auto ms-auto mt-10 mt-lg-0"><a class="btn col-12 col-md-auto btn-primary" href="{% url 'mama_fua:create_order' %}">Request Service again</a></div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-8">
        <div class="col-12 col-lg-3 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/dBLWkm1/suit.png" alt="suit">
          </div>
        </div>
        <div class="col-12 col-lg-9">
          <div class="d-flex mb-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Suit Cleaning</h3>
              <p class="mb-0 text-secondary">Wash & Iron</p>
            </div>
            <span class="h5 text-info">ksh. 500</span>
          </div>
          <div class="row">
            <div class="col-12 col-sm-auto mb-6 mb-sm-0 me-sm-10">
              <p class="mb-6 fw-bold">Service Requested on</p>
              <p class="mb-0 text-secondary">04/04/2023</p>
            </div>
            <div class="col-12 col-sm-auto">
              <p class="mb-6 fw-bold">Delivered</p>
              <p class="mb-0 text-secondary">Not Yet</p>
            </div>
            <div class="col-12 col-lg-auto ms-auto mt-10 mt-lg-0"><a class="btn col-12 col-md-auto btn-primary" href="{% url 'mama_fua:create_order' %}">Request Service again</a></div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-8">
        <div class="col-12 col-lg-3 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/kSr0JYx/jacket.png" alt="jacket">
          </div>
        </div>
        <div class="col-12 col-lg-9">
          <div class="d-flex mb-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Jacket Cleaning</h3>
              <p class="mb-0 text-secondary">Wash & Fold</p>
            </div>
            <span class="h5 text-info">ksh. 50</span>
          </div>
          <div class="row">
            <div class="col-12 col-sm-auto mb-6 mb-sm-0 me-sm-10">
              <p class="mb-6 fw-bold">Service Requested on</p>
              <p class="mb-0 text-secondary">04/04/2023</p>
            </div>
            <div class="col-12 col-sm-auto">
              <p class="mb-6 fw-bold">Delivered</p>
              <p class="mb-0 text-secondary">Not Yet</p>
            </div>
            <div class="col-12 col-lg-auto ms-auto mt-10 mt-lg-0"><a class="btn col-12 col-md-auto btn-primary" href="{% url 'mama_fua:create_order' %}">Request Service again</a></div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-8">
        <div class="col-12 col-lg-3 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/g74FB2K/Polo.png" alt="Polo">
          </div>
        </div>
        <div class="col-12 col-lg-9">
          <div class="d-flex mb-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Polo Cleaning</h3>
              <p class="mb-0 text-secondary">Wash & Fold</p>
            </div>
            <span class="h5 text-info">ksh. 50</span>
          </div>
          <div class="row">
            <div class="col-12 col-sm-auto mb-6 mb-sm-0 me-sm-10">
              <p class="mb-6 fw-bold">Service Requested on</p>
              <p class="mb-0 text-secondary">04/04/2023</p>
            </div>
            <div class="col-12 col-sm-auto">
              <p class="mb-6 fw-bold">Delivered</p>
              <p class="mb-0 text-secondary">Not Yet</p>
            </div>
            <div class="col-12 col-lg-auto ms-auto mt-10 mt-lg-0"><a class="btn col-12 col-md-auto btn-primary" href="{% url 'mama_fua:create_order' %}">Request Service again</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-12 py-8 px-8 px-md-20 bg-white">
      <div class="d-flex flex-wrap mb-8 pb-4 border-bottom">
        <div class="me-20">
          <p class="mb-0 text-secondary">Service Number</p>
          <p class="text-info fw-bold">XYZ0864394</p>
        </div>
        <div class="me-auto">
          <p class="mb-0 text-secondary">Date</p>
          <p class="text-info fw-bold">Tuesday 28, 2023</p>
        </div>
      </div>
      <div class="row align-items-center mb-8">
        <div class="col-12 col-lg-3 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/4dFWpz1/jeans.png" alt="jeans">
          </div>
        </div>
        <div class="col-12 col-lg-9">
          <div class="d-flex mb-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Jeans Cleaning</h3>
              <p class="mb-0 text-secondary">Wash & Fold</p>
            </div>
            <span class="h5 text-info">ksh. 50</span>
          </div>
          <div class="row">
            <div class="col-12 col-sm-auto mb-6 mb-sm-0 me-sm-10">
              <p class="mb-6 fw-bold">Service Requested on</p>
              <p class="mb-0 text-secondary">28/03/2023</p>
            </div>
            <div class="col-12 col-sm-auto">
              <p class="mb-6 fw-bold">Delivered</p>
              <p class="mb-0 text-secondary">29/03/2023</p>
            </div>
            <div class="col-12 col-lg-auto ms-auto mt-10 mt-lg-0"><a class="btn col-12 col-md-auto btn-primary" href="{% url 'mama_fua:create_order' %}">Request Service again</a></div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-8">
        <div class="col-12 col-lg-3 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/tB283h0/short-jeans.png" alt="short-jeans">
          </div>
        </div>
        <div class="col-12 col-lg-9">
          <div class="d-flex mb-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Short Jeans Cleaning</h3>
              <p class="mb-0 text-secondary">Wash & Fold</p>
            </div>
            <span class="h5 text-info">ksh. 40</span>
          </div>
          <div class="row">
            <div class="col-12 col-sm-auto mb-6 mb-sm-0 me-sm-10">
              <p class="mb-6 fw-bold">Service Requested on</p>
              <p class="mb-0 text-secondary">28/03/2023</p>
            </div>
            <div class="col-12 col-sm-auto">
              <p class="mb-6 fw-bold">Delivered</p>
              <p class="mb-0 text-secondary">29/03/2023</p>
            </div>
            <div class="col-12 col-lg-auto ms-auto mt-10 mt-lg-0"><a class="btn col-12 col-md-auto btn-primary" href="{% url 'mama_fua:create_order' %}">Request Service again</a></div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-8">
        <div class="col-12 col-lg-3 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/nM4fLdT/socks.png" alt="socks">
          </div>
        </div>
        <div class="col-12 col-lg-9">
          <div class="d-flex mb-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Socks Cleaning</h3>
              <p class="mb-0 text-secondary">Wash & Fold</p>
            </div>
            <span class="h5 text-info">ksh. 10 Each Pair</span>
          </div>
          <div class="row">
            <div class="col-12 col-sm-auto mb-6 mb-sm-0 me-sm-10">
              <p class="mb-6 fw-bold">Service Requested on</p>
              <p class="mb-0 text-secondary">28/03/2023</p>
            </div>
            <div class="col-12 col-sm-auto">
              <p class="mb-6 fw-bold">Delivered</p>
              <p class="mb-0 text-secondary">29/03/2023</p>
            </div>
            <div class="col-12 col-lg-auto ms-auto mt-10 mt-lg-0"><a class="btn col-12 col-md-auto btn-primary" href="{% url 'mama_fua:create_order' %}">Request Service again</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-12 py-8 px-8 px-md-20 bg-white">
      <div class="d-flex flex-wrap mb-8 pb-4 border-bottom">
        <div class="me-20">
          <p class="mb-0 text-secondary">Service Number</p>
          <p class="text-info fw-bold">XYZ0864393</p>
        </div>
        <div class="me-auto">
          <p class="mb-0 text-secondary">Date</p>
          <p class="text-info fw-bold">Tuesday 21, 2023</p>
        </div>
      </div>
      <div class="row align-items-center mb-8">
        <div class="col-12 col-lg-3 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/XJv9F1B/short.png" alt="short">
          </div>
        </div>
        <div class="col-12 col-lg-9">
          <div class="d-flex mb-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Short Cleaning</h3>
              <p class="mb-0 text-secondary">Wash & Fold</p>
            </div>
            <span class="h5 text-info">ksh. 30</span>
          </div>
          <div class="row">
            <div class="col-12 col-sm-auto mb-6 mb-sm-0 me-sm-10">
              <p class="mb-6 fw-bold">Service Requested on</p>
              <p class="mb-0 text-secondary">21/03/2023</p>
            </div>
            <div class="col-12 col-sm-auto">
              <p class="mb-6 fw-bold">Delivered</p>
              <p class="mb-0 text-secondary">22/03/2023</p>
            </div>
            <div class="col-12 col-lg-auto ms-auto mt-10 mt-lg-0"><a class="btn col-12 col-md-auto btn-primary" href="{% url 'mama_fua:create_order' %}">Request Service again</a></div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-8">
        <div class="col-12 col-lg-3 mb-8 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center bg-light-light" style="height: 288px;">
            <img class="img-fluid" style="height: 256px; object-fit: cover;" src="https://i.ibb.co/QkCWy17/jumper.png" alt="jumper">
          </div>
        </div>
        <div class="col-12 col-lg-9">
          <div class="d-flex mb-16">
            <div class="me-auto">
              <h3 class="lead fw-bold">Jumper Cleaning</h3>
              <p class="mb-0 text-secondary">Wash & Fold</p>
            </div>
            <span class="h5 text-info">ksh. 50</span>
          </div>
          <div class="row">
            <div class="col-12 col-sm-auto mb-6 mb-sm-0 me-sm-10">
              <p class="mb-6 fw-bold">Service Requested on</p>
              <p class="mb-0 text-secondary">21/03/2023</p>
            </div>
            <div class="col-12 col-sm-auto">
              <p class="mb-6 fw-bold">Delivered</p>
              <p class="mb-0 text-secondary">22/03/2023</p>
            </div>
            <div class="col-12 col-lg-auto ms-auto mt-10 mt-lg-0"><a class="btn col-12 col-md-auto btn-primary" href="{% url 'mama_fua:create_order' %}">Request Service again</a></div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>


{% endblock content %}